<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/bootstrap-5.0.2-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../StylesPages/programm_style.css">
    <title>Proggram</title>
</head>
<body>
    
    <section>
        <div class="background__top">
            <div class="background_img">
                <img src="../assest/images/axilaru img/PowerAndLight_01a_bb.gif" alt="">
            </div>
        </div>
    </section>
    <h1 style="text-align: center;">This is Proggram  page</h1>
    <div class="container">
        <div class="meeting_shedul">
            <h3>Meeting Sheedul</h3>
            <ul>
                <li><a href="">Chittagong</a>
                    <ul>
                        <li><a href="">Monthly Meeting</a></li>
                        <li><a href="">Weekly Meeting</a></li>
                    </ul>
                </li>

                <li><a href="">Cumilla</a>
                    <ul>
                        <li><a href="">Monthly Meeting</a></li>
                        <li><a href="">Weekly Meeting</a></li>
                    </ul>
                </li>
                <li><a href="">Syllet</a>
                    <ul>
                        <li><a href="">Monthly Meeting</a></li>
                        <li><a href="">Weekly Meeting</a></li>
                    </ul>
                </li>
                <li><a href="">Moymmosing</a>
                    <ul>
                        <li><a href="">Monthly Meeting</a></li>
                        <li><a href="">Weekly Meeting</a></li>
                    </ul>
                </li>
                <li><a href="">Centeral</a></li>
            </ul>
        </div>
    </div>



    <script src="../style/bootstrap-5.0.2-dist/js/bootstrap.min.js"></script>
    <script src="../style/bootstrap-5.0.2-dist/js/popper.min.js"></script>
</body>
</html>