{% extends "basic.html" %}

{% block content %}
<div class="container">
    <div class="heading">   
        <h1 class="text-center">{{text}}</h1>
    </div>
    <div class="process">
        <ul>
            <li>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quas sunt recusandae molestias et. Sed, officia corrupti! Commodi molestias asperiores eveniet?
            </li>
            <li>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus voluptatum praesentium vel tempore eveniet officia ducimus.
            </li>
            <li>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia maiores reiciendis hic similique deleniti impedit quia nobis iusto porro consectetur quae culpa ex cumque est, veritatis quam! Quo unde quisquam nulla dicta, reprehenderit voluptatum ipsa nam laboriosam voluptates? Debitis, placeat fuga repudiandae molestiae nisi cumque.
            </li>
            <li>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos dolorum vitae maxime quam blanditiis dolorem veniam qui incidunt accusamus praesentium.
            </li>
        </ul>
    </div>
</div>


{% endblock %}
   
