{% extends "basic.html" %}
{% load static %}
{% block style %}
<!-- <link rel="stylesheet" href="{% static 'about/css/about.css' %}"> -->
{% endblock %}

{% block title %}
 {{title}}
{% endblock %}

{% block content %}
<!-- <h1 class="text-center">{{zoon_text}}</h1> -->
<h3>Zoon section</h3>
<h2>{{pro_data.zoon_name}}</h2>
<h2>{{pro_data.zoon_heading}}</h2>
<img src="/media/zoon/{{pro_data.profile_img.url}}" alt="">
<p>{{pro_data.zoon_text}}</p>
<!-- <h2>{{pro_data.zoon_heading}}</h2> -->
{% endblock %}