{% extends "basic.html" %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'members/css/member.css' %}">

{% endblock %}

{% block title %}
{{title}}
{% endblock %}

{% block content %}
<h3 class="text-center m-3 pt-3"> All Commitee In CTG</h3><hr> 

<div class="member_info container">
    <div class="container">
        <div class="row" style="border: 1px solid #000;">
                <div class="col-4 text-end">
                  <div class="profile_pic text-center py-3">
                          <img src="{% static 'zone/img/ctg/c.jpg' %}" width="220px" height="220px" alt=" " style="border: 2px solid #cccc;">
                          <!-- <img src="{% static 'zone/img/ctg/d.jpg' %}" class="card-img-top" alt="..."> -->
                  </div>
                  
                </div>
                <div class="col-8 pt-3">
                  <h5>Name: Engr A.K.M Hamidur</h5>
                  <h6><b>POST:</b> Sub-Divissional Engineer</h6>
                  <small><b>Office Name:</b>  Scada Operation Division</small><br>
                  <small><b>Office Address:</b>  Foyes Lake, khulshi, Chittagong </small><br>
                  <!-- <small><b>Dipukush ID:</b> dip-33940,</small>
                  <small><b>IDEB ID:</b>  ib-34-2344</small><br>
                  <small><b>Mobile:</b> +880173240231</small><br> 
                  <p><b>Email:</b>  abcde@gmail.com</p><br> -->
                  
                  <!-- <p><b>Home Town:</b>  shait shala, Bepara, Comilla</p> <br> -->
                  <a  href="{% url 'zoon_profile:CommitteDetails' %}"class="btn btn-sm btn-secondary px-5 mt-5">See Details</a><br>
        
                </div>
        </div>  
                  
                  
  </div>
  <div class="container">
    <div class="row" style="border: 1px solid #000;">
            <div class="col-4 text-end">
              <div class="profile_pic text-center py-3">
                      <img src="{% static 'zone/img/ctg/f.jpg' %}" width="220px" height="220px" alt=" " style="border: 2px solid #cccc;">
                      <!-- <img src="{% static 'zone/img/ctg/d.jpg' %}" class="card-img-top" alt="..."> -->
              </div>
              
            </div>
            <div class="col-8 pt-3">
              <h5>Name: Engr A.K.M Hamidur</h5>
              <h6><b>POST:</b> Sub-Divissional Engineer</h6>
              <small><b>Office Name:</b>  Scada Operation Division</small><br>
              <small><b>Office Address:</b>  Foyes Lake, khulshi, Chittagong </small><br>
              <!-- <small><b>Dipukush ID:</b> dip-33940,</small>
              <small><b>IDEB ID:</b>  ib-34-2344</small><br>
              <small><b>Mobile:</b> +880173240231</small><br> 
              <p><b>Email:</b>  abcde@gmail.com</p><br> -->
              
              <!-- <p><b>Home Town:</b>  shait shala, Bepara, Comilla</p> <br> -->
              <a  href="{% url 'zoon_profile:CommitteDetails' %}"class="btn btn-sm btn-secondary px-5 mt-5">See Details</a><br>
    
            </div>
    </div>  
              
              
</div>
<div class="container">
    <div class="row" style="border: 1px solid #000;">
            <div class="col-4 text-end">
              <div class="profile_pic text-center py-3">
                      <img src="{% static 'zone/img/ctg/d.jpg' %}" width="220px" height="220px" alt=" " style="border: 2px solid #cccc;">
                      <!-- <img src="{% static 'zone/img/ctg/d.jpg' %}" class="card-img-top" alt="..."> -->
              </div>
              
            </div>
            <div class="col-8 pt-3">
              <h5>Name: Engr A.K.M Hamidur</h5>
              <h6><b>POST:</b> Sub-Divissional Engineer</h6>
              <small><b>Office Name:</b>  Scada Operation Division</small><br>
              <small><b>Office Address:</b>  Foyes Lake, khulshi, Chittagong </small><br>
              <!-- <small><b>Dipukush ID:</b> dip-33940,</small>
              <small><b>IDEB ID:</b>  ib-34-2344</small><br>
              <small><b>Mobile:</b> +880173240231</small><br> 
              <p><b>Email:</b>  abcde@gmail.com</p><br> -->
              
              <!-- <p><b>Home Town:</b>  shait shala, Bepara, Comilla</p> <br> -->
              <a  href="{% url 'zoon_profile:CommitteDetails' %}"class="btn btn-sm btn-secondary px-5 mt-5">See Details</a><br>
    
            </div>
    </div>  
              
              
</div>
<div class="container">
    <div class="row" style="border: 1px solid #000;">
            <div class="col-4 text-end">
              <div class="profile_pic text-center py-3">
                      <img src="{% static 'zone/img/ctg/g.jpg' %}" width="220px" height="220px" alt=" " style="border: 2px solid #cccc;">
                      <!-- <img src="{% static 'zone/img/ctg/d.jpg' %}" class="card-img-top" alt="..."> -->
              </div>
              
            </div>
            <div class="col-8 pt-3">
              <h5>Name: Engr A.K.M Hamidur</h5>
              <h6><b>POST:</b> Sub-Divissional Engineer</h6>
              <small><b>Office Name:</b>  Scada Operation Division</small><br>
              <small><b>Office Address:</b>  Foyes Lake, khulshi, Chittagong </small><br>
              <!-- <small><b>Dipukush ID:</b> dip-33940,</small>
              <small><b>IDEB ID:</b>  ib-34-2344</small><br>
              <small><b>Mobile:</b> +880173240231</small><br> 
              <p><b>Email:</b>  abcde@gmail.com</p><br> -->
              
              <!-- <p><b>Home Town:</b>  shait shala, Bepara, Comilla</p> <br> -->
              <a  href="{% url 'zoon_profile:CommitteDetails' %}"class="btn btn-sm btn-secondary px-5 mt-5">Read More</a><br>
    
            </div>
    </div>  
              
              
</div>
</div>


{% endblock %}
   
