{% extends "basic.html" %}
{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static 'home/css/home.css' %}">
{% endblock %}

{% block title %}
{{title}}
{% endblock %}


{% block content %}
<!-- <h1 class="text-center">{{text}}</h1> -->
<!-- <img src="/media/home/{{profile_data.image.url}}" alt=""> -->
<div class="bg_img">
    <div class="heading">
        <h1>{{profile_data.title}}</h1>
        <h4>{{profile_data.subtitle}}</h4>
        
        
    </div>
    <img src="{% static 'home/img/b.jpg' %}" alt="">
</div>

<section>
    <div class="goal">
        <div class="container">
            <h2>Our Goal</h2>
            <p><span>L</span>orem ipsum dolor sit amet consectetur adipisicing elit. Iste voluptate a quaerat dolores, qui distinctio nam fuga? Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis voluptate enim fugiat obcaecati reprehenderit aliquid, natus a porro, eum impedit voluptas numquam tempora quaerat iste, minima soluta cupiditate id ut. Soluta animi a exercitationem minus ea repellendus veniam ex cum magni, tenetur labore!</p>
        </div>
    </div>
</section>


<!----------->
<section>
    <div class="zoon_section">
        <div class="container">
            <h3>Familarity with Our Region</h3>
            <div class="row at">
                <div class="col-12 col-md-4 col-sm-6 col-lg-3">
                    <a href="{% url 'zoon_profile:syllet_page' %}">
                        <div class="card">
                            <div class="card-header">
                                <h4>Centeral Commitee</h4>
                            </div>
                            <div class="card-body">
                                <div class="img_div text-center">
                                    <img src="{% static 'home/img/icon/21.png' %}" alt="" style="width: 80px; height:80px; text-align: center;">
                                </div>
                                <!-- <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Error nobis</p> -->
                                <ul class="zoon_link_item">
                                    <li><a href=""><span>&#10026; </span>Prasident</a></li>
                                    <li><a href=""><span>&#10026; </span>Sacretary</a></li>
                                    <li><a href=""><span>&#10026; </span>Commitee Mambers</a></li>
                                    <li><a href=""><span>&#10026; </span>Publish Notice</a></li>
                                </ul>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-12 col-md-4 col-sm-6 col-lg-3 to">
                    <a href="{% url 'zoon_profile:chittagong_page' %}">
                        <div class="card too">
                            <div class="card-header">
                                <h4>Chittangog</h4>
                            </div>
                            <div class="card-body">
                                <div class="img_div text-center">
                                    <img src="{% static 'home/img/icon/5.png' %}" alt="" style="width: 80px; height:80px; text-align: center;">
                                </div>
                                <!-- <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Error nobis</p> -->
                                <ul class="zoon_link_item">
                                    <li><a href=""><span>&#10026; </span> See Commitee Mambers</a></li>
                                    <li><a href=""><span>&#10026; </span>See all Mambers list</a></li>
                                    <li><a href=""><span>&#10026; </span>Latest News list</a></li>
                                    <li><a href=""><span>&#10026; </span>Notice</a></li>
                                </ul>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-12 col-md-4 col-sm-6 col-lg-3">
                    <a href="{% url 'zoon_profile:cumilla_page' %}">
                        <div class="card">
                            <div class="card-header">
                                <h4>Cumilla</h4>
                            </div>
                            <div class="card-body">
                                <div class="img_div text-center">
                                    <img src="{% static 'home/img/icon/6.png' %}" alt="" style="width: 80px; height:80px; text-align: center;">
                                </div>
                                <!-- <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Error nobis</p> -->
                                <ul class="zoon_link_item">
                                    <li><a href=""><span>&#10026; </span> See Commitee Mambers</a></li>
                                    <li><a href=""><span>&#10026; </span>See all Mambers list</a></li>
                                    <li><a href=""><span>&#10026; </span>Latest News list</a></li>
                                    <li><a href=""><span>&#10026; </span>Notice</a></li>
                                </ul>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-12 col-md-4 col-sm-6 col-lg-3">
                    <a href="{% url 'zoon_profile:chittagong_page' %}">
                        <div class="card">
                            <div class="card-header">
                                <h4>Maymoshing</h4>
                            </div>
                            <div class="card-body">
                                <div class="img_div text-center">
                                    <img src="{% static 'home/img/icon/9.png' %}" alt="" style="width: 80px; height:80px; text-align: center;">
                                </div>
                                <!-- <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Error nobis</p> -->
                                <ul class="zoon_link_item">
                                    <li><a href=""><span>&#10026; </span> See Commitee Mambers</a></li>
                                    <li><a href=""><span>&#10026; </span>See all Mambers list</a></li>
                                    <li><a href=""><span>&#10026; </span>Latest News list</a></li>
                                    <li><a href=""><span>&#10026; </span>Notice</a></li>
                                </ul>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-12 col-md-4 col-sm-6 col-lg-3">
                    <a href="{% url 'zoon_profile:syllet_page' %}">
                        <div class="card">
                            <div class="card-header">
                                <h4>Syllet</h4>
                            </div>
                            <div class="card-body">
                                <div class="img_div text-center">
                                    <img src="{% static 'home/img/icon/22.png' %}" alt="" style="width: 80px; height:80px; text-align: center;">
                                </div>
                                <!-- <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Error nobis</p> -->
                                <ul class="zoon_link_item">
                                    <li><a href=""><span>&#10026; </span> See Commitee Mambers</a></li>
                                    <li><a href=""><span>&#10026; </span>See all Mambers list</a></li>
                                    <li><a href=""><span>&#10026; </span>Latest News list</a></li>
                                    <li><a href=""><span>&#10026; </span>Notice</a></li>
                                </ul>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-12 col-md-4 col-sm-6 col-lg-3">
                    <a href="{% url 'zoon_profile:syllet_page' %}">
                        <div class="card">
                            <div class="card-header">
                                <h4>Admanastive</h4>
                            </div>
                            <div class="card-body">
                                <div class="img_div text-center">
                                    <img src="{% static 'home/img/icon/7.png' %}" alt="" style="width: 80px; height:80px; text-align: center;">
                                </div>
                                <!-- <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Error nobis</p> -->
                                <ul class="zoon_link_item">
                                    <li><a href=""><span>&#10026; </span> See Commitee Mambers</a></li>
                                    <li><a href=""><span>&#10026; </span>See all Mambers list</a></li>
                                    <li><a href=""><span>&#10026; </span>Latest News list</a></li>
                                    <li><a href=""><span>&#10026; </span>Notice</a></li>
                                </ul>
                            </div>
                            
                        </div>
                    </a>
                </div>
                <div class="col-12 col-md-4 col-sm-6 col-lg-3">
                    <a href="{% url 'zoon_profile:syllet_page' %}">
                        <div class="card">
                            <div class="card-header">
                                <h4>Power plant</h4>
                            </div>
                            <div class="card-body text-center">
                                <img src="{% static 'home/img/icon/10.png' %}" alt="" style="width: 80px; height:80px; text-align: center;">
                                <ul class="zoon_link_item">
                                    <li><a href=""><span>&#10026; </span> See Commitee Mambers</a></li>
                                    <li><a href=""><span>&#10026; </span>See all Mambers list</a></li>
                                    <li><a href=""><span>&#10026; </span>Latest News list</a></li>
                                    <li><a href=""><span>&#10026; </span>Notice</a></li>
                                </ul>

                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-12 col-md-4 col-sm-6 col-lg-3">
                    <a href="{% url 'zoon_profile:syllet_page' %}">
                        <div class="card">
                            <div class="card-header">
                                <h4>Project</h4>
                            </div>
                            <div class="card-body">
                                <div class="img_div text-center">
                                    <img src="{% static 'home/img/icon/14.png' %}" alt="" style="width: 80px; height:80px; text-align: center;">
                                </div>
                                <!-- <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Error nobis</p> -->
                                <ul class="zoon_link_item">
                                    <li><a href=""><span>&#10026; </span> See Commitee Mambers</a></li>
                                    <li><a href=""><span>&#10026; </span>See all Mambers list</a></li>
                                    <li><a href=""><span>&#10026; </span>Latest News list</a></li>
                                    <li><a href=""><span>&#10026; </span>Notice</a></li>
                                </ul>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    
</section>
<section>
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col col-md-6 col-lg-4">
                    <div class="important-link">
                        <ul>
                            <li>Ministry of Power, Engergy & minarel Resource</li>
                            <li>Power Division</li>
                            <li>Power Cell</li>
                            <li>Bangladesh Power Development Borad</li>
                            
                        </ul>
                    </div>
                </div>

            </div>
            <p>Reversed by dripukush <span class="text-center">&#169;2022</span></p>
        </div>
    </div>
</section>

{% endblock %}
   
