{% extends "basic.html" %}
{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static 'home/css/home.css' %}">
{% endblock %}

{% block title %}
{{title}}
{% endblock %}


{% block content %}
<!-- <h1 class="text-center">{{text}}</h1> -->
<!-- <img src="/media/home/{{profile_data.image.url}}" alt=""> -->
<div class="bg_img">
    <div class="heading">
        <h1>{{profile_data.title}}</h1>
        <h4>{{profile_data.subtitle}}</h4>
        
        
    </div>
    <img src="{% static 'home/img/b.jpg' %}" alt="">
</div>

<section>
    <div class="goal">
        <div class="container">
            <h2>Our Goal and works Principle</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste voluptate a quaerat dolores, qui distinctio nam fuga? Soluta animi a exercitationem minus ea repellendus veniam ex cum magni, tenetur labore!</p>
        </div>
    </div>
</section>


<!----------->
<section>
    <div class="zoon_section">
        <div class="container">
            <h3>Zoon section</h3>
            <div class="row at">
                <div class="col-12 col-md-4 col-sm-6 col-lg-3 to">
                    <a href="{% url 'zoon_profile:chittagong_page' %}">
                        <div class="card too">
                            <div class="card-header">
                                <h4>Chittangog</h4>
                            </div>
                            <div class="card-body">
                                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Error nobis quaerat soluta nemo libero praesentium.</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-12 col-md-4 col-sm-6 col-lg-3">
                    <a href="{% url 'zoon_profile:cumilla_page' %}">
                        <div class="card">
                            <div class="card-header">
                                <h4>Cumilla</h4>
                            </div>
                            <div class="card-body">
                                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Error nobis quaerat soluta nemo libero praesentium.</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-12 col-md-4 col-sm-6 col-lg-3">
                    <a href="{% url 'zoon_profile:chittagong_page' %}">
                        <div class="card">
                            <div class="card-header">
                                <h4>Maymoshing</h4>
                            </div>
                            <div class="card-body">
                                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Error nobis quaerat soluta nemo libero praesentium.</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-12 col-md-4 col-sm-6 col-lg-3">
                    <a href="{% url 'zoon_profile:syllet_page' %}">
                        <div class="card">
                            <div class="card-header">
                                <h4>Syllet</h4>
                            </div>
                            <div class="card-body">
                                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Error nobis quaerat soluta nemo libero praesentium.</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-12 col-md-4 col-sm-6 col-lg-3">
                    <a href="{% url 'zoon_profile:syllet_page' %}">
                        <div class="card">
                            <div class="card-header">
                                <h4>Admanastive</h4>
                            </div>
                            <div class="card-body">
                                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Error nobis</p>
                                <ul>
                                    <li><a href="">See Commitee Mambers</a></li>
                                    <li><a href="">See all Mambers list</a></li>
                                    <li><a href="">Latest News list</a></li>
                                    <li><a href="">Notice</a></li>
                                </ul>
                            </div>
                            <div class="card-footer text-center">
                                Read All info
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-12 col-md-4 col-sm-6 col-lg-3">
                    <a href="{% url 'zoon_profile:syllet_page' %}">
                        <div class="card">
                            <div class="card-header">
                                <h4>Power plant</h4>
                            </div>
                            <div class="card-body">
                                <img src="{% static 'home/img/images.jpg' %}" alt="" style="width: 100%; height:auto;">
                                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Error nobis</p>

                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-12 col-md-4 col-sm-6 col-lg-3">
                    <a href="{% url 'zoon_profile:syllet_page' %}">
                        <div class="card">
                            <div class="card-header">
                                <h4>Project</h4>
                            </div>
                            <div class="card-body">
                                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Error nobis</p>
                                <ul>
                                    <li><a href="">See Commitee Mambers</a></li>
                                    <li><a href="">See all Mambers list</a></li>
                                    <li><a href="">Latest News list</a></li>
                                    <li><a href="">Notice</a></li>
                                </ul>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    
</section>


{% endblock %}
   
