{% extends "basic.html" %}
{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static 'commitee/css/commitee.css' %}">
{% endblock %}

{% block title %}
{{title}}
{% endblock %}

{% block content %}
<h1 class="text-center">{{text}}</h1>
<br>
<section>
    <div class="commitee_section">
        <div class="container">
            <div class="commitee_member">
                <div class="row">
                    <div class="col-12 col-sm-6 col-md-4 commite_all_item">
                        <div class="comitee_member_img">
                            <img src="{% static 'zone/img/ctg/b.jpg' %}" class="card-img-top" alt="...">
                        </div>
                        <div class="name">
                            <span>Mr.Abul Kalam</span><br>
                            <small> Member</small>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 commite_all_item">
                        <div class="comitee_member_img">
                            <img src="{% static 'zone/img/ctg/b.jpg' %}" class="card-img-top" alt="...">
                        </div>
                        <div class="name">
                            <span>Mr.Abul Kalam</span><br>
                            <small> Member</small>
                        </div>
                    </div>
                    
                    
                    <div class="col-12 col-sm-6 col-md-4 commite_all_item">
                        <div class="comitee_member_img">
                            <img src="{% static 'zone/img/ctg/b.jpg' %}" class="card-img-top" alt="...">
                        </div>
                        <div class="name">
                            <span>Mr.Abul Kalam</span><br>
                            <small> Member</small>
                        </div>
                    </div>
                </div><!---------------------top prt--end-------->
                <div class="row">
                    <div class="col-6 col-sm-3 col-md-3 commite_all_item">
                        <div class="comitee_member_img">
                            <img src="{% static 'zone/img/ctg/b.jpg' %}" class="card-img-top" alt="...">
                        </div>
                        <div class="name">
                            <span>Mr.Abul Kalam</span><br>
                            <small> Member</small>
                        </div>
                    </div>
                    <div class="col-6 col-sm-3 col-md-3 commite_all_item">
                        <div class="comitee_member_img">
                            <img src="{% static 'zone/img/ctg/b.jpg' %}" class="card-img-top" alt="...">
                        </div>
                        <div class="name">
                            <span>Mr.Abul Kalam</span><br>
                            <small> Member</small>
                        </div>
                    </div>
                    <div class="col-6 col-sm-3 col-md-3 commite_all_item">
                        <div class="comitee_member_img">
                            <img src="{% static 'zone/img/ctg/b.jpg' %}" class="card-img-top" alt="...">
                        </div>
                        <div class="name">
                            <span>Mr.Abul Kalam</span><br>
                            <small> Member</small>
                        </div>
                    </div>
                    <div class="col-6 col-sm-3 col-md-3 commite_all_item">
                        <div class="comitee_member_img">
                            <img src="{% static 'zone/img/ctg/b.jpg' %}" class="card-img-top" alt="...">
                        </div>
                        <div class="name">
                            <span>Mr.Abul Kalam</span><br>
                            <small> Member</small>
                        </div>
                    </div>
                    <div class="col-6 col-sm-3 col-md-3 commite_all_item">
                        <div class="comitee_member_img">
                            <img src="{% static 'zone/img/ctg/b.jpg' %}" class="card-img-top" alt="...">
                        </div>
                        <div class="name">
                            <span>Mr.Abul Kalam</span><br>
                            <small> Member</small>
                        </div>
                    </div>
                    <div class="col-6 col-sm-3 col-md-3 commite_all_item">
                        <div class="comitee_member_img">
                            <img src="{% static 'zone/img/ctg/b.jpg' %}" class="card-img-top" alt="...">
                        </div>
                        <div class="name">
                            <span>Mr.Abul Kalam</span><br>
                            <small> Member</small>
                        </div>
                    </div>
                    <div class="col-6 col-sm-3 col-md-3 commite_all_item">
                        <div class="comitee_member_img">
                            <img src="{% static 'zone/img/ctg/b.jpg' %}" class="card-img-top" alt="...">
                        </div>
                        <div class="name">
                            <span>Mr.Abul Kalam</span><br>
                            <small> Member</small>
                        </div>
                    </div>
                    <div class="col-6 col-sm-3 col-md-3 commite_all_item">
                        <div class="comitee_member_img">
                            <img src="{% static 'zone/img/ctg/b.jpg' %}" class="card-img-top" alt="...">
                        </div>
                        <div class="name">
                            <span>Mr.Abul Kalam</span><br>
                            <small> Member</small>
                        </div>
                    </div>
                    <div class="col-6 col-sm-3 col-md-3 commite_all_item">
                        <div class="comitee_member_img">
                            <img src="{% static 'zone/img/ctg/b.jpg' %}" class="card-img-top" alt="...">
                        </div>
                        <div class="name">
                            <span>Mr.Abul Kalam</span><br>
                            <small> Member</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}