{% extends "basic.html" %}
{% load static %}


{% block style %}
<link rel="stylesheet" href="{% static 'zone/css/zone.css' %}">
{% endblock %}

{% block title %}
 {{title}}
{% endblock %}

{% block content %}

<section class="about_section">

    <div class="about_profile_view">
        <div class="img">
            <img src="{% static 'zone/img/cum/a.jpg' %}" alt="">
        </div>
        
    </div>
</section>
<section class='about_descrive'>
    <div class="left_sec">
        <div class="zoon_info">
            <h3>About of Dhaka Zoon</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat quod officia nobis totam iste dolorem eaque libero nihil similique non quas accusamus vitae commodi molestiae nemo ea fugit modi labore officiis quaerat ratione unde, cum minima. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quas, at. Debitis dignissimos harum voluptas sit! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quidem, excepturi! </p><br>
            <p> Optio dolores minus veniam impedit maiores doloremque ipsum ex ullam dicta doloribus! Doloribus, assumenda. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iusto aspernatur hic ullam iste nemo, optio facilis et consequatur distinctio sit! </p><br>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam consequatur commodi nihil totam animi minus. Tempore autem necessitatibus dolor dolorem? Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita quae incidunt laudantium placeat recusandae!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam consequatur commodi nihil totam animi minus. Tempore autem necessitatibus dolor dolorem? Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita quae incidunt laudantium placeat recusandae!</p>
        </div>
    </div>
    <div class="main_about">
        <div class="descrive_all">
            <div class="about_descrive_top">
                <div class="row">
                    <div class="col col-md-5 col-lg-5 col-xl-5 col-sm-10 about_Com_member">
                        <div class="card" ">
                            <img src="{% static 'zone/img/cum/b.jpg' %}" class="card-img-top" alt="...">
                            <small class="name_pro">Mr. Abdul Samad</small>
                            <span>President of Cumilla Zoon</span>
                            <div class="card-body">
                              <p class="card-text">Some quick example text to build on Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic, nobis. the card title.</p>
                              
                                <a href="#" class="">Read More</a>
                              
                            </div>
                        </div>
                    </div>
                    <div class="col col-md-5 col-lg-5 col-xl-5 col-sm-10 about_Com_member">
                        <div class="card" ">
                            <img src="{% static 'zone/img/cum/c.jpg' %}" class="card-img-top" alt="...">
                            <small class="name_pro">Mr. Abdul Samad</small>
                            <span>Secretary of Ctg Zoon</span>
                            <div class="card-body">
                              <p class="card-text">Some quick example text to Lorem ipsum dolor sit. Lorem ipsum dolor sit amet. build on the card title.</p>
                              
                                <a href="#" class="Com_member_btn">Read More</a>
                              
                            </div>
                        </div>
                    </div>
                    <div class="row commite_all">
                        <h3 class=" text-center pt-5 pb-1">All Committe Of CTG</h3>
                        <hr class="text-center" style="border: 1px solid #000 ; width: 55%; height: 1px; margin-left: 23%; margin-bottom: 5px;"></hr>
                        <div class="col col-sm-4 col-md-3 commite_all_item">
                            <div class="comitee_member_img">
                                <img src="{% static 'zone/img/ctg/d.jpg' %}" class="card-img-top" alt="...">
                            </div>
                            <div class="name">
                                <a  href="{% url 'zoon_profile:CommitteDetails' %}"><span>Engr A.K.M Hamidur</span></a><br>
                                <small>Member of Finance</small>
                            </div>
                        </div>
                        <div class="col col-sm-4 col-md-3 commite_all_item">
                            <div class="comitee_member_img">
                                <img src="{% static 'zone/img/ctg/e.jpg' %}" class="card-img-top" alt="...">
                            </div>
                            <div class="name">
                                <a href="{% url 'zoon_profile:CommitteDetails' %}"><span>Mr.Abul Kalam</span></a><br>
                                <small>Member of ICT</small>
                            </div>
                        </div>
                        <div class="col col-sm-4 col-md-3 commite_all_item">
                            <div class="comitee_member_img">
                                <img src="{% static 'zone/img/ctg/g.jpg' %}" class="card-img-top" alt="...">
                            </div>
                            <div class="name">
                                <span>Mr.Abul Kalam</span><br>
                                <small>Member of Sports</small>
                            </div>
                        </div>
        
                        <div class="col col-sm-4 col-md-3 commite_all_item">
                            <div class="comitee_member_img">
                                <img src="{% static 'zone/img/ctg/d.jpg' %}" class="card-img-top" alt="...">
                            </div>
                            <div class="name">
                                <span>Mr.Abul Kalam</span><br>
                                <small>Member</small>
                            </div>
                        </div>
                        <div class="col col-sm-4 col-md-3 commite_all_item">
                            <div class="comitee_member_img">
                                <img src="{% static 'zone/img/ctg/b.jpg' %}" class="card-img-top" alt="...">
                            </div>
                            <div class="name">
                                <span>Mr.Abul Kalam</span><br>
                                <small> Member</small>
                            </div>
                        </div>
                        <div class="col col-sm-4 col-md-3 commite_all_item">
                            <div class="comitee_member_img">
                                <img src="{% static 'zone/img/ctg/c.jpg' %}" class="card-img-top" alt="...">
                            </div>
                            <div class="name">
                                <span>Mr.Abul Kalam</span><br>
                                <small> Member</small>
                            </div>
                        </div>
                        <div class="col col-sm-4 col-md-3 commite_all_item">
                            <div class="comitee_member_img">
                                <img src="{% static 'zone/img/ctg/a.jpg' %}" class="card-img-top" alt="...">
                            </div>
                            <div class="name">
                                <span>Mr.Abul Kalam</span><br>
                                <small> Member</small>
                            </div>
                        </div>
                        <div class="col col-sm-4 col-md-3 commite_all_item">
                            <div class="comitee_member_img">
                                <img src="{% static 'zone/img/ctg/c.jpg' %}" class="card-img-top" alt="...">
                            </div>
                            <div class="name">
                                <span>Mr.Abul Kalam</span><br>
                                <small> Member</small>
                            </div>
                        </div>
                    </div>    
                    
                    <div class="col">
                        <!-----bottom part----->
                        <div class="row">
                            <div class="col col-md-3 col-lg-3 col-xl-3  col-sm-6 ctg_zoon_member">
                                <div class="card">
                                    
                                    <div class="card-body">
                                    <h5 class="card-title"><a href="">Commete Info</a> </h5>
                                    
                                    <div class="ctg_Zoon_btn">
                                        <a href="#" class="btn ">See More</a>
                                    </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col col-md-3 col-lg-3 col-xl-3  col-sm-6 ctg_zoon_member">
                                <div class="card">
                                    
                                    <div class="card-body">
                                    <h5 class="card-title"><a href="{% url 'zoon_profile:DhakaMember' %}">All Member Info</a> </h5>

                                    <div class="ctg_Zoon_btn">
                                        <a href="#" class="btn">See More</a>
                                    </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col col-md-3 col-lg-3 col-xl-3  col-sm-6 ctg_zoon_member">
                                <div class="card">
                                    
                                    <div class="card-body">
                                    <h5 class="card-title"><a href="">New Resigtation</a> </h5>
                                
                                    <div class="ctg_Zoon_btn">
                                        <a href="#" class="btn">See More</a>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    </div>
                    
                </div>
                
            </div>

            
        </div>
    </div>

</section>




<br>
<br>
<br>


<section class="footer">
   <div class="container">
       <div class="row">
           <div class="col">
               <h5>Quick serceh</h5>
               <ul>
                   <li><a href=""></a></li>
                   <li><a href=""></a></li>
                   <li><a href=""></a></li>
                   <li><a href=""></a></li>
               </ul>
           </div>
           <div class="col my-4">
               
               <input type="text" class="p-1" placeholder="Type your text"><input type="submit" name="submit" value="Send" class="btn btn-primary">
               <div class="social_icon">
                   <small>Copy&copy;2021 and reserverd by dripukush </small>
                   
               </div>
           </div>
           <div class="col important_link">
               <h5>Important Link</h5>
               <ul class="">
                   <li><a href="#">BPDB</a></li>
                   <li><a href="#">IDEB</a></li>
                   <li><a href="#">BTEB</a></li>
                   <li><a href="#">ECE</a></li>
               </ul>
           </div>
       </div>
   </div>
</section>
<!-- <h2>{{pro_data.zoon_heading}}</h2> -->

{% endblock %}